header {
	text-align: center;
	background: url('https://i.imgur.com/R2wErS5.jpg') no-repeat center;
	background-size: cover;
	color: white;
	margin: 0 auto;
	padding: 5px;
}
a {
	color: #eabfb7;
}
h1 {
	font-size: 70px;
}
h2 {
	color: #331803;
}
ul {
	padding: 10px;
	background: #331803;
}
li {
	display: inline;
	padding: 0px 10px 0px 10px;
	text-align: center;
}
img {
	border-radius: 25%;
	border: 5px solid #eabfb7;
}
.introduction{
	text-align: center;
	color: #331803;
} 
.selfie {
	float: left;
	margin: 5px 20px 20px 20px;
}
footer {
	text-align: center;
}
